// Montserrat Font
@font-face {
    font-family: Montserrat Regular;
    src: url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2')
  }
@font-face {
  font-family: Montserrat Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.woff2') format('woff2')
  }
@font-face {
    font-family: Montserrat SemiBold;
    src: url('../fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2')
}

// Oswald Font

@font-face {
    font-family: Oswald Regular;
    src: url('../fonts/oswald/Oswald-Regular.woff2') format('woff2')
  }
@font-face {
    font-family: Oswald Bold;
    src: url('../fonts/oswald/Oswald-Bold.woff2') format('woff2')
  }
  