.topbar {
    background-image: url('../images/uploads/topbar-lg-bg.jpg');
    background-color: rgba(0, 104, 167, 0.02);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    @media (max-width: 768px) {
        background-image: url('../images/uploads/topbar-bg.jpg');
    }
    transition: all 0.3s ease;
}

.topbar {
    background-image: url('../images/uploads/topbar-lg-bg.jpg');
    background-color: rgba(0, 104, 167, 0.02);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    @media (max-width: 768px) {
        background-image: url('../images/uploads/topbar-bg.jpg');
    }
}

.menu-wrap {
    @apply font-menu;
    position: relative;
    display: flex;
    flex-direction: row;
    box-shadow: none;
    width: auto;
    height: auto;
    background: transparent;
    right: 0;
    padding: 0;
    align-items: center;

    nav {
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;
        flex-direction: row;

        ul {

            .current-menu-ancestor.current-menu-parent>a,
            .current-menu-ancestor.current_page_ancestor>a,
            .current-menu-item>a {
                @apply text-blue;
            }

        }

        .top-menu-link {
            margin-bottom: 0;

            .drop-menu {
                width: max-content;
                display: none;
                border: 1px solid #0068A7;
                border-radius: 4px;
                white-space: nowrap;

                span:hover,
                a:hover {
                    @apply text-gray;
                    margin-left: 2px;
                    margin-right: -2px;
                }
            }

            &:hover {
                @apply text-yellow;
                position: relative;

                .drop-menu {
                    @apply bg-secondary;
                    position: absolute;
                    top: 2.2rem;
                    left: .3rem;
                    opacity: 1;
                    display: block;
                    padding: 1rem;
                    opacity: 0.95;
                    border-radius: 2px;
                    box-shadow: -1px 11px 18px -2px rgba(0, 0, 0, 0.75);
                    z-index: 10;

                    &::before {
                        content: '';
                        top: -1rem;
                        left: 0;
                        height: 1.5rem;
                        width: 100%;
                        background: transparent;
                        position: absolute;
                    }
                }
            }
        }

        .top-menu-link2 {
            margin-bottom: 0;
            transition: .3s ease;
            margin-right: 1.1rem;

            .drop-menu2 {
                width: max-content;
                display: none;
                border: 1px solid #0068A7;
                border-radius: 4px;
                column-count: 2;

                .dropdown-link {
                    @apply text-white;
                    display: flex;
                    align-items: center;
                    span:hover,
                    a:hover {
                        @apply text-dark;
                        transition: .3s ease;
                    }
                }
            }

            &:hover {
                @apply text-white;
                transition: .3s ease;
                position: relative;

                .drop-menu2 {
                    @apply bg-blue;
                    position: absolute;
                    max-height: calc(100vh - 200px); // limit instead of force
                    overflow-y: auto; // scroll only when needed
                    overflow-x: auto; // avoid horizontal scroll
                    top: 1.2rem;
                    left: 4rem;
                    opacity: 1;
                    display: block;
                    padding: 1rem;
                    opacity: 0.95;
                    border-radius: 2px;
                    box-shadow: -1px 11px 18px -2px rgba(0, 0, 0, 0.75);
                    z-index: 2;
column-fill: auto;
                    >nav-link {
                        @apply text-dark;
                    }

                    &::before {
                        content: '';
                        top: -1rem;
                        left: 0;
                        height: 1.5rem;
                        width: 100%;
                        background: transparent;
                        position: absolute;
                    }
                }
            }
        }

    }

}

.top-menu-link2 > a {
    display: flex;
    align-items: center;
    width: 100%;
}