p {
    @apply text-base text-dark;
    margin-top: 0;
    margin-bottom: .5rem;
}

@screen lg{
    p {
        @apply text-base;
        margin-bottom: 1rem;
    }
}


.wrap-html-sitemap {
    h2.sp-cpt-name {
        @apply text-xl font-header text-left mb-4 mt-4;
    }
    h3.sp-cpt-name {
        @apply text-xl font-body text-left mb-8;
    }
    .sp-cat-name {
        @apply text-xl font-header text-left mb-2;
    }
}
.mammothmoving-simplecontent {
    ul{
        @apply ml-4 lg:ml-12;
        list-style: disc;
        list-style-position: outside !important;
        margin-bottom: 1rem;
        br {
            display: none;
        }
        li {
            margin-bottom: 0.2rem;
            @apply text-base;
        }
    }

    ol {
        @apply ml-4 lg:ml-12;
        list-style: auto;
        list-style-position: outside !important;
        margin-bottom: 1rem;
        br {
            display: none;
        }
        li {
            margin-bottom: 0.2rem;
        }
    }

    &.v1 .content-wrap a {    


        @apply text-primary underline underline-offset-4;

            &:hover{
                @apply text-dark underline underline-offset-4;
            }
        
    }


    &.v2 .content-wrap a {    


        @apply text-primary;

            &:hover{
                @apply text-dark underline;
            }
        
    }

    .content-wrap h2 {    
        @apply font-header lg:text-[50px] lg:leading-[70px];
    }

    .content-wrap h3 {    
        @apply font-bold text-lg;
        display: inline-block;
        margin-bottom: 1rem;

        span{
            font-weight: 700 !important;
        }
    }

    .content-wrap{
        ul.list-gray{
            @apply list-none;

            li{
                @apply font-header py-4 px-2 bg-primary/5;
            }
        }
    }

    &.packing-icon{
        h3{
            @apply flex flex-row gap-2 items-center;
            
            img{
                @apply w-[25px];
            }
        }
    }

    &.v2{
        p{
            @apply mb-0 font-tagline  text-base lg:text-lg text-dark;
        }
    }

}


.mammothmoving-imagetext {
    .content {
        a{
        @apply text-primary underline underline-offset-4;

            &:hover{
                @apply text-dark underline underline-offset-4;
            }
        }


        p{
            @apply mb-0;
        }
    }

    ul li{
        @apply ml-4;
        list-style: disc;
        list-style-position: inside;
    }

    ol {
        @apply mt-4 mb-4 ml-4;;
        li{
            list-style: auto;
            list-style-position: inside;
        }
    }
}

.mammothmoving-privacy-policy, .mammothmoving-terms, .mammothmoving-accessibility{
    h2{
       @apply font-header text-lg lg:text-xl mb-8 text-dark;
    }

    ul {
        @apply mb-4 ml-4;

        li{
            list-style: disc;
            list-style-position: inside;
        }
    }
}