{#
  Title: CTA
  Description: Call To Action block
  Category: firstclass-blocks
  Icon: table-row-before
  Keywords: offer
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}

	<section class="bg-[#F8F8F8] px-[20px] py-[60px] md:py-[90px] lg:py-[120px] {{ block.className }}">
		<div class="container mx-auto">

			<div
				class="relative">

				<!-- Background Overlay -->
				<div class="absolute inset-0 rounded-[8px] bg-center bg-no-repeat bg-cover" style="background-image: url('/wp-content/uploads/2026/03/Frame-52629.jpg');"></div>

				<!-- Content -->
<div class="relative z-10 flex flex-col items-center lg:items-start">

					<!-- Text -->
				<div class="max-w-[600px] text-white text-center lg:text-left pt-[60px] px-[20px] lg:p-[70px]">
					<h3 class="font-bold text-[16px] md:text-[18px] mb-[10px]">
						Movers Committed To Quality
					</h3>

					<h2 class="uppercase font-bold leading-[1.2] text-[28px] md:text-[36px] lg:text-[40px] mb-[30px]">
						You Get Where You Need To Go Without The Hassle.
					</h2>

					<a href="#" class="inline-block bg-[#F04A3C] text-white font-bold px-[22px] py-[12px] rounded-[4px] text-[14px] md:text-[16px]">
						Get A Free Quote
					</a>

					</div>

					<!-- Image -->
					<div class="bottom-0 right-0 block w-full overflow-hidden md:ml-auto sm:m-0 lg:absolute md:overflow-visible rounded-br-[8px]">
						<img 
						class="hidden ml-auto sm:block h-[302px] w-auto md:h-[402px] lg:h-[532px]" 
						src="/wp-content/uploads/2026/03/Rectangle-3471.png" 
						alt="Mover"
						/>

						<!-- Mobile Image -->
						<img 
						src="/wp-content/uploads/2026/03/Rectangle-3472.png" 
						class="block w-full sm:hidden" 
						alt="Mover"
						/>
					</div>
				</div>

			</div>
		</div>
	</section>
