{#
  Title: Icon Box Grid
  Description: A grid section with icon boxes.
  Category: formatting
  Icon: grid-view
  Keywords: about
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}


<section class="bg-white px-[20px] py-[60px] md:py-[90px] lg:py-[120px]">
	<div class="    container mx-auto text-center md:w-[796px] mb-[60px]">
		<h2 class="leading-[55px] text-[#333333] font-bold uppercase md:mb-[30px] text-[30px] md:text-[40px]">Moving Company Services</h2>
		<p class="text-[#402e2e] text-[16px] font-regular">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo consequat aute irure dolor in reprehenderit
		</p>
	</div>
	<div class="container mx-auto mb-[60px]">
		<div class="mb-[48px] justify-self-center gap-[24px] mx-auto text-center flex items-center">
			<img class="h-[46px] w-auto" src="/wp-content/uploads/2026/03/fi_10512580.png">
			<span class="
																																																																																																							accord-text text-[24px] md:text-[35px] font-bold ">Residential Moving</span>
		</div>
		<div class="flex flex-col items-start md:gap-[24px]">
			<div class="row-1 flex flex-col md:flex-row gap-[10px]">
				<div class="accordion-item bg-[#F8F8F8] px-[24px] pt-[24px] rounded-[8px]">
					<div class="flex items-center justify-between cursor-pointer accordion-header pb-[24px]">
						<span class="text-[22px] font-bold accordion-title text-[#333333] group-[.active]:text-[#0068A7]">
							Local Moving
						</span>

						<span class="text-[35px] transition-transform accordion-icon text-[#333333]">
							+
						</span>
					</div>
					<div class="overflow-hidden transition-all duration-500 accordion-content max-h-0">
						<p class="pb-[24px] leading-relaxed text-gray-500">
							Consumers paying out of pocket or utilizing employee lump sum moving locally
						</p>
					</div>
				</div>
				<div class="accordion-item bg-[#F8F8F8] px-[24px] pt-[24px] rounded-[8px]">
					<div class="flex items-center justify-between cursor-pointer accordion-header pb-[24px]">
						<span class="text-[22px] font-bold accordion-title ">
							International
						</span>

						<span class="text-[35px] transition-transform accordion-icon ">
							+
						</span>
					</div>
					<div class="overflow-hidden transition-all duration-500 accordion-content max-h-0">
						<p class="pb-[24px] leading-relaxed text-gray-500">
							Consumers paying out of pocket or utilizing employee lump sum moving locally
						</p>
					</div>
				</div>
			</div>
			<div class="row-2 flex flex-col md:flex-row gap-[10px]">
				<div class="accordion-item bg-[#F8F8F8] px-[24px] pt-[24px] rounded-[8px]">
					<div class="flex items-center justify-between cursor-pointer accordion-header pb-[24px]">
						<span class="text-[22px] font-bold accordion-title ">
							Intrastate
						</span>

						<span class="text-[35px] transition-transform accordion-icon ">
							+
						</span>
					</div>
					<div class="overflow-hidden transition-all duration-500 accordion-content max-h-0">
						<p class="pb-[24px] leading-relaxed text-gray-500">
							Consumers paying out of pocket or utilizing employee lump sum moving locally
						</p>
					</div>
				</div>
				<div class="accordion-item bg-[#F8F8F8] px-[24px] pt-[24px] rounded-[8px]">
					<div class="flex items-center justify-between cursor-pointer accordion-header pb-[24px]">
						<span class="text-[22px] font-bold accordion-title ">
							International
						</span>

						<span class="text-[35px] transition-transform accordion-icon ">
							+
						</span>
					</div>
					<div class="overflow-hidden transition-all duration-500 accordion-content max-h-0">
						<p class="pb-[24px] leading-relaxed text-gray-500">
							Consumers paying out of pocket or utilizing employee lump sum moving locally
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container mx-auto mb-[60px]">
		<div class="mb-[48px] justify-self-center gap-[24px] mx-auto text-center flex items-center">
			<img class="h-[42px] w-auto" src="/wp-content/uploads/2026/03/fi_888559.png">
			<span class="text-[24px] md:text-[35px] font-bold">Commercial Moving</span>
		</div>
		<div class="flex flex-col items-start md:gap-[24px]">
			<div class="row-1 flex flex-col md:flex-row gap-[10px]">
				<div class="accordion-item bg-[#F8F8F8] px-[24px] pt-[24px] rounded-[8px]">
					<div class="flex items-center justify-between cursor-pointer accordion-header pb-[24px]">
						<span class="text-[22px] font-bold accordion-title ">
							Local Moving
						</span>

						<span class="text-[35px] transition-transform accordion-icon text-[#333333]">
							+
						</span>
					</div>
					<div class="overflow-hidden transition-all duration-500 accordion-content max-h-0">
						<p class="pb-[24px] leading-relaxed text-gray-500">
							Consumers paying out of pocket or utilizing employee lump sum moving locally
						</p>
					</div>
				</div>
				<div class="accordion-item bg-[#F8F8F8] px-[24px] pt-[24px] rounded-[8px]">
					<div class="flex items-center justify-between cursor-pointer accordion-header pb-[24px]">
						<span class="text-[22px] font-bold accordion-title text-[#333333]">
							International
						</span>

						<span class="text-[35px] transition-transform accordion-icon text-[#333333]">
							+
						</span>
					</div>
					<div class="overflow-hidden transition-all duration-500 accordion-content max-h-0">
						<p class="pb-[24px] leading-relaxed text-gray-500">
							Consumers paying out of pocket or utilizing employee lump sum moving locally
						</p>
					</div>
				</div>
			</div>
			<div class="row-2 flex flex-col md:flex-row gap-[10px]">
				<div class="accordion-item bg-[#F8F8F8] px-[24px] pt-[24px] rounded-[8px]">
					<div class="flex items-center justify-between cursor-pointer accordion-header pb-[24px]">
						<span class="text-[22px] font-bold accordion-title text-[#333333]">
							Intrastate
						</span>

						<span class="text-[35px] transition-transform accordion-icon text-[#333333]">
							+
						</span>
					</div>
					<div class="overflow-hidden transition-all duration-500 accordion-content max-h-0">
						<p class="pb-[24px] leading-relaxed text-gray-500">
							Consumers paying out of pocket or utilizing employee lump sum moving locally
						</p>
					</div>
				</div>
				<div class="accordion-item bg-[#F8F8F8] px-[24px] pt-[24px] rounded-[8px]">
					<div class="flex items-center justify-between cursor-pointer accordion-header pb-[24px]">
						<span class="text-[22px] font-bold accordion-title text-[#333333]">
							International
						</span>

						<span class="text-[35px] transition-transform accordion-icon text-[#333333]">
							+
						</span>
					</div>
					<div class="overflow-hidden transition-all duration-500 accordion-content max-h-0">
						<p class="pb-[24px] leading-relaxed text-gray-500">
							Consumers paying out of pocket or utilizing employee lump sum moving locally
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container mx-auto mb-[60px]">
		<div class="mb-[48px] justify-self-center gap-[24px] mx-auto text-center flex items-center">
			<img class="h-[46px] w-auto" src="/wp-content/uploads/2026/03/fi_16767873.png">
			<span class="text-[24px] md:text-[35px] font-bold">Logistic Service</span>
		</div>
		<div class="flex flex-col items-start md:gap-[24px]">
			<div class="row-1 flex flex-col md:flex-row gap-[10px]">
				<div class="accordion-item bg-[#F8F8F8] px-[24px] pt-[24px] rounded-[8px]">
					<div class="flex items-center justify-between cursor-pointer accordion-header pb-[24px]">
						<span class="text-[22px] font-bold accordion-title text-[#333333]">
							Local Moving
						</span>

						<span class="text-[35px] transition-transform accordion-icon text-[#333333]">
							+
						</span>
					</div>
					<div class="overflow-hidden transition-all duration-500 accordion-content max-h-0">
						<p class="pb-[24px] leading-relaxed text-gray-500">
							Consumers paying out of pocket or utilizing employee lump sum moving locally
						</p>
					</div>
				</div>
				<div class="accordion-item bg-[#F8F8F8] px-[24px] pt-[24px] rounded-[8px]">
					<div class="flex items-center justify-between cursor-pointer accordion-header pb-[24px]">
						<span class="text-[22px] font-bold accordion-title text-[#333333]">
							International
						</span>

						<span class="text-[35px] transition-transform accordion-icon text-[#333333]">
							+
						</span>
					</div>
					<div class="overflow-hidden transition-all duration-500 accordion-content max-h-0">
						<p class="pb-[24px] leading-relaxed text-gray-500">
							Consumers paying out of pocket or utilizing employee lump sum moving locally
						</p>
					</div>
				</div>
			</div>
			<div class="row-2 flex flex-col md:flex-row gap-[10px]">
				<div class="accordion-item bg-[#F8F8F8] px-[24px] pt-[24px] rounded-[8px]">
					<div class="flex items-center justify-between cursor-pointer accordion-header pb-[24px]">
						<span class="text-[22px] font-bold accordion-title text-[#333333]">
							Intrastate
						</span>

						<span class="text-[35px] transition-transform accordion-icon text-[#333333]">
							+
						</span>
					</div>
					<div class="overflow-hidden transition-all duration-500 accordion-content max-h-0">
						<p class="pb-[24px] leading-relaxed text-gray-500">
							Consumers paying out of pocket or utilizing employee lump sum moving locally
						</p>
					</div>
				</div>
				<div class="accordion-item bg-[#F8F8F8] px-[24px] pt-[24px] rounded-[8px]">
					<div class="flex items-center justify-between cursor-pointer accordion-header pb-[24px]">
						<span class="text-[22px] font-bold accordion-title text-[#333333]">
							International
						</span>

						<span class="text-[35px] transition-transform accordion-icon text-[#333333]">
							+
						</span>
					</div>
					<div class="overflow-hidden transition-all duration-500 accordion-content max-h-0">
						<p class="pb-[24px] leading-relaxed text-gray-500">
							Consumers paying out of pocket or utilizing employee lump sum moving locally
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button class="hidden mx-auto md:block">
		<a href="{{ fields.button.url}}" class="mb-4 font-bold normal-case btn btn-primary">Get A Free Quote
		</a>
	</button>
</section>