{#
  Title: Simplecontent
  Description: Simple Content block
  Category: formatting
  Icon: editor-alignleft
  Keywords: about
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}


<section class="px-[20px] py-[60px] md:py-[90px] lg:py-[100px]">
	<article class="container mx-auto">
		<h2 class="text-[#333333] leading-[55px] font-bold md:mb-[30px] text-[30px] md:text-[40px] mb-[30px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod.</h2>
		<p class="text-[#4E4D4D] text-[16px] font-regular mb-[30px]">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
		</p>
		<p class="text-[#4E4D4D] text-[16px] font-regular mb-[30px]">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
		</p>
		<img src="/wp-content/uploads/2026/03/Image-1.png" class="block mb-[40px]"/>

		<h3 class="text-[#333333] leading-[32px] font-bold text-[22px] mb-[30px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod.</h3>
		<p class="text-[#4E4D4D] text-[16px] font-regular mb-[30px]">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
		</p>
		<p class="text-[#4E4D4D] text-[16px] font-regular mb-[30px]">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna:
		</p>
		<ul class="list-disc text-[#4E4D4D] text-[16px] pl-[20px] mb-[30px]">
			<li class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
			<li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
			<li>Ut enim ad minim veniam, quis nostrud exercitation ullamco</li>
			<li>Laboris nisi ut aliquip ex ea commodo consequat.</li>
			<li>Duis aute irure dolor in reprehenderit in voluptate velit esse</li>
			<li>Cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat</li>
		</ul>
		<p class="text-[#4E4D4D] text-[16px] font-regular mb-[30px]">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
		</p>
		<img src="/wp-content/uploads/2026/03/Image.jpg" class="block mb-[40px]"/>
		<h3 class="text-[#333333] leading-[32px] font-bold text-[22px] mb-[30px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod.</h3>
		<p class="text-[#4E4D4D] text-[16px] font-regular mb-[30px]">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
		</p>
		<p class="text-[#4E4D4D] text-[16px] font-regular mb-[30px]">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.
		</p>
		<button class="block h-[56px]">
			<a href="" class="mb-4 font-bold normal-case btn bg-blue text-white hover:bg-[#4E4D4D]">Get A Free Quote
			</a>
		</button>
	</article>
</section> 