{#
  Title: Video
  Description: Video Section
  Category: formatting
  Icon: video-alt
  Keywords: sidebar
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}
<section class="px-[20px] pt-[60px] md:pt-[90px] lg:pt-[120px] bg-[#F8F8F8] {{ block.className }}">
	<div class="container px-4 mx-auto">

		<div class="video-container rounded-[8px] mb-[60px] flex items-center justify-center w-full h-[230px] sm:h-[330px] md:h-[420px] lg:h-[560px] bg-gray overflow-hidden relative">

			<div class="absolute playButton-wrapper">
				<button class="text-white bg-red h-[60px] w-[60px] md:h-[80px] md:w-[80px] lg:h-[90px] lg:w-[90px] rounded-full flex items-center justify-center">
					<img src="/wp-content/uploads/2026/03/Polygon-4.png"/>
				</button>
			</div>

			<img src="/wp-content/uploads/2026/03/83073a2ba7f55deac9607d9bade19c4876d0c592.jpg" class="object-cover w-full h-full"/>
		</div>
		{# SLIDER PLUGIN HERE  #}
	</div>
</section>
