{#
  Title: Video
  Description: Video Section
  Category: formatting
  Icon: video-alt
  Keywords: sidebar
  Mode: edit
  Align: left
  PostTypes: page post
  SupportsAlign: left right
  SupportsMode: true
  SupportsMultiple: true
#}
<section class="px-[20px] pt-[60px] md:pt-[90px] lg:pt-[120px] bg-[#F8F8F8] {{ block.className }}">
	<div class="container px-4 mx-auto">
		<div class="video-container rounded-[8px] mb-[60px] flex items-center justify-center w-full h-[230px] sm:h-[330px] md:h-[420px] lg:h-[560px] bg-gray overflow-hidden relative">
			<div class="w-full video-wrapper max-h-[658px] rounded-2xl" data-aos="fade-left" data-aos-offset="-250" data-aos-delay="250" data-aos-duration="550" data-aos-once="true">
				<iframe width="100%" height="660" src="https://www.youtube.com/embed/{{fields.video_url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</div>
		</div>
		{# SLIDER PLUGIN HERE  #}
	</div>
</section>