.firstclass-about__v3 {
    padding: 6rem 0;
}
.firstclass-about__v4 {
max-height: 1000px;
}
.firstclass-about__v5, .firstclass-about__v8{
    .section-image {
        max-height: 900px;
    }
}
.firstclass-about__v7 {
    img {
        &:hover{
            transform: scale(1.01);
        }
    }
}