.topbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
header {
  transition: all 0.3s ease;
}
// .main-with-offset {
//   padding-top: 80px; /* adjust to your header height */
// }

// header {
//   position: sticky;
//   top: 0;
//   z-index: 999;
// }
// .topbar {
//   position: sticky;
//   top: 0;
//   z-index: 999;
// }