.firstclass-map {
    .location-wrapper {
        position: absolute;
        left: .5rem;
        min-width: 305px;

    }
    iframe.place-cards {
        display: none !important;
    }

    h3:before {
        content: "";
        width: 85px;
        border-top: 4px solid #A30007;
        display: block;
        position: relative;
        margin: auto;
        top:-10px;
    }  
}
